.auth-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
 background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; /* center toggle */
}

/* Logo left side */
.logo-container {
  position: absolute;
  left: 55px;   /* EXACT left spacing */
}

.logo-container img {
  height: 55px;
}

/* Toggle center */
.toggle-container {
  display: flex;
  background: #ffffff;
  padding: 5px;
  border-radius: 999px;
  /* border-bottom: 1px solid #e5e5e5; */
  gap: 5px;
}

.toggle-btn {
  padding: 8px 25px;
  border-radius: 999px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: all 0.3s ease;
}

.toggle-btn.active {
  background: #4f46e5;
  color: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

/* Invisible right side to balance layout */
.right-space {
  position: absolute;
  right: 25px;
}