/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
}

/* LOGO POSITION */
.logo-container {
  position: absolute;
  left: 30px;   /* EXACT LEFT SPACE */
}

.logo-container img {
  height: 55px;  /* EXACT HEIGHT */
  width: auto;
  display: block;
}